@keyframes aparecer {
    0% {
        letter-spacing: 1em;
        transform: translateZ(400px) translateY(300px);
        opacity: 0;
    }
    40% {
        opacity: 0.6;
    }
    100% {
        transform: translateZ(0) translateY(0);
        opacity: 1; }
}
@keyframes girar {
    0%   { transform: rotate(0deg) scale(0); opacity: 0; }
    60%  { transform: rotate(360deg) scale(0.5); opacity: 1; }
    100% { transform: rotate(360deg) scale(1); opacity: 1; }
}

@keyframes desaparecer {
    0%   { opacity: 1; }
    100% { opacity: 0; pointer-events: none; }
}

.intro {
    width: 100vw;
    height: 100vh;
    background-color: #000;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    
}

.logo {
    width: 200px;
    opacity: 0;
    filter: 
        drop-shadow(0 0 20px rgba(255,140,0,0.8)) 
        drop-shadow(0 0 50px rgba(0,150,255,0.5));
    animation: girar 2s ease forwards;
}

.nombre {
    color: white;
    font-size: 36px;
    letter-spacing: 6px;
    opacity: 0;
    margin-top: 24px;
     animation:aparecer 1.5s ease forwards 1.5s
}
